integrations/n8n/invoice-reminders.workflow.json
{
  "name": "Invoice reminders -- staged dunning with human approval",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "trg-schedule",
      "name": "Schedule (daily 08:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        240
      ]
    },
    {
      "parameters": {},
      "id": "trg-manual",
      "name": "Run on demand",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        440
      ]
    },
    {
      "parameters": {
        "command": "cd /opt/invoice-reminder && REMINDERS_ALLOW_SEND=1 reminders --config /opt/invoice-reminder/config.yaml run --send --json"
      },
      "id": "exec-stage",
      "name": "Stage batch (run --send)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        460,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse the JSON that `reminders run --send --json` printed on stdout, and\n// gate: only proceed to approval if a batch was actually staged.\nconst item = $input.first().json;\nconst raw = item.stdout || '';\nlet data;\ntry {\n  data = JSON.parse(raw);\n} catch (err) {\n  throw new Error('Could not parse `reminders --json` output. Got: ' + raw);\n}\nif (data.error) {\n  throw new Error('reminders refused: ' + (data.message || data.error));\n}\nif (!data.count || data.count === 0) {\n  return []; // nothing due -> stop here, no approval needed\n}\nreturn [{ json: data }];\n"
      },
      "id": "code-parse",
      "name": "Parse & gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build a human-readable approval request + the resume link. Wire the node\n// AFTER this one to your Slack/Email and send `approvalMessage`.\nconst data = $input.first().json;\nconst lines = (data.reminders || []).map(function (r) {\n  return '  - ' + r.invoice_id + '  ' + r.stage + '  ' + r.currency + ' ' + r.amount + '  -> ' + r.to_email;\n});\nreturn [{\n  json: Object.assign({}, data, {\n    approvalUrl: $execution.resumeUrl,\n    approvalMessage:\n      'Invoice reminders ready to send (batch ' + data.batch_id + ', ' + data.count + ' reminder(s)):\\n' +\n      lines.join('\\n') +\n      '\\n\\nApprove (this sends the emails): ' + $execution.resumeUrl\n  })\n}];\n"
      },
      "id": "code-approval",
      "name": "Build approval request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        340
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "wait-approval",
      "name": "Await human approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        340
      ],
      "webhookId": "invoice-reminders-approve"
    },
    {
      "parameters": {
        "command": "=cd /opt/invoice-reminder && REMINDERS_ALLOW_SEND=1 reminders --config /opt/invoice-reminder/config.yaml approve {{ $json.batch_id }} --json"
      },
      "id": "exec-approve",
      "name": "Approve & send",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1340,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse the result of `reminders approve --json` for the execution log.\nconst item = $input.first().json;\nlet result;\ntry { result = JSON.parse(item.stdout || '{}'); } catch (e) { result = { parseError: item.stdout }; }\nreturn [{ json: Object.assign({ ok: !result.error }, result) }];\n"
      },
      "id": "code-record",
      "name": "Record outcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        340
      ]
    },
    {
      "parameters": {
        "content": "## Setup (read me first)\n\n1. Install the tool on THIS n8n host so the `reminders` CLI is on PATH:\n   `pip install -e /opt/invoice-reminder` (adjust the path).\n2. Create `/opt/invoice-reminder/config.yaml` (set `source.kind` to `csv` or a\n   `quickbooks_*` adapter; SMTP creds go in `.env`).\n3. Edit the two **Execute Command** nodes if your install path differs.\n\n### Two seatbelts are preserved\n- `REMINDERS_ALLOW_SEND=1` is set inline on the Execute Command nodes.\n- The **first** seatbelt is the human-approval Wait node below: nothing sends\n  until someone opens the resume link. If no one approves, no email goes out.",
        "height": 320,
        "width": 420,
        "color": 4
      },
      "id": "note-setup",
      "name": "Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        -120
      ]
    },
    {
      "parameters": {
        "content": "## Human approval\n\n`Build approval request` puts a summary + the approve link\n(`$execution.resumeUrl`) on the item.\n\n**Insert your Slack / Email / Teams node here** and send `approvalMessage`\n(or just `approvalUrl`) to whoever approves AR.\n\nOpening the link resumes the run and triggers the REAL send\n(`reminders approve`). Nothing was sent before this point.",
        "height": 260,
        "width": 360,
        "color": 5
      },
      "id": "note-approval",
      "name": "Approval wiring",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        520
      ]
    }
  ],
  "connections": {
    "Schedule (daily 08:00)": {
      "main": [
        [
          {
            "node": "Stage batch (run --send)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run on demand": {
      "main": [
        [
          {
            "node": "Stage batch (run --send)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage batch (run --send)": {
      "main": [
        [
          {
            "node": "Parse & gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & gate": {
      "main": [
        [
          {
            "node": "Build approval request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build approval request": {
      "main": [
        [
          {
            "node": "Await human approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Await human approval": {
      "main": [
        [
          {
            "node": "Approve & send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve & send": {
      "main": [
        [
          {
            "node": "Record outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
